<html>
  <head>

  </head>
  <body>

<div class='navbar'>
  <a href="/dashboard" class='logo'>Logo</a>
  <div class='header-right'>
    <a href="#">Dashboard</a> <!-- Display Dashboard if logged in -->
    <a href="#">Log in</a> <!-- Display Username is logged in -->
    <a href="#">Logout</a> <!-- Display logout only if logged in -->
  </div>
</div>
