<% include ./partials/header %>

<!-- Height Filler -->
<div class="filler-div-smaller"></div>

<div class="dashboardContainer">

<div class="circle"></div>

  <div class="infoContainer">
    <p><%= user.username %></p>
    <p><%= user.firstName %></p>
    <p><%= user.lastName %></p>
    <p><%= user.email %></p>
  </div>
</div>

<% include ./partials/footer %>
