<h1>Sample Log In Page</h1>

<form  action="#" method="post">
  <span>Email:</span>
  <input type="email" name="email" required=true>
  <span>Password:</span>
  <input type="password" name="password" required=true>
  <button type="button" name="button">Log In</button>
</form>

<a href="/register">Don't have an account yet? Click here to sign up..</a>
