.dashboardContainer {
  background-color: white;
  border: 3px solid #008944;
  border-radius: 2px;
  width: 650px;
  height: 440px;
  margin: 0 auto;
  padding-top: 35px;
}

.circle {
  margin: 0 auto;
  height: 75px;
  width: 75px;
  background-color: none;
  border-radius: 50%;
  display:block;
}

.dashboardContainer p {
  height: 35px;
  width: 58%;
  margin: 30px auto;
  border: 2px solid grey;
  border-radius: 8px;
  text-align: center;
  padding: 2px;
  background-color: white;
  color: black;
  font-size: 23px;
}

.dashboardContainer p:hover {
  height: 35px;
  width: 60%;
  border: 2px solid none;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: normal;
  font-style: normal;
  transition: height, width, border, padding, background-color, color, 350ms;
}

.dashboardContainer button {
  box-sizing: border-box;
  margin: -12px auto;
  padding: 20px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    height: 2px;
    line-height: 0px;
    padding: 3px 5px;
    background-color: #E2252B;
    border-radius: 3px;
}

.container {
    padding: 16px;
    border-radius: 7px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    border-radius: 8px;
    width: 25%; /* Could be more or less, depending on screen size */
    color: black;
}

.labelColor {
  color: black;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.infoContainer button {
  padding: 20.5px;
}

.updateButton {
  border-radius: 4px;
  line-height: 0px;
  height: 10px;
}

.infoContainer p a {
  color: red;
  cursor: pointer;
}

.infoContainer p a:hover {
  font-weight: normal;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
